<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carros</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <!-- CSS Personalizado -->
    <link rel="stylesheet" href="../public/css/style.css">
    <!-- Impedir execução de scripts externos ou não autorizados -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'">
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-4">Cadastro de Carros</h1>
        <form id="frmCar" class="mt-2 row g-3">

            <!-- Placa -->
            <div class="col-md-4">
                <label class="form-label">Placa</label>
                <input type="text" class="form-control" id="inputPlateCar" required maxlength="7">
            </div>

            <!-- Marca -->
            <div class="col-md-4">
                <label class="form-label">Marca</label>
                <input type="text" class="form-control" id="inputMarkCar" required>
            </div>

            <!-- Modelo -->
            <div class="col-md-4">
                <label class="form-label">Modelo</label>
                <input type="text" class="form-control" id="inputModelCar" required>
            </div>

            <!-- Ano -->
            <div class="col-md-3">
                <label class="form-label">Ano</label>
                <input type="number" class="form-control" id="inputYearCar" required min="1900" max="2025">
            </div>

            <!-- Cor -->
            <div class="col-md-3">
                <label class="form-label">Cor</label>
                <input type="text" class="form-control" id="inputColorCar" required>
            </div>

            <!-- Descrição do Conserto -->
            <div class="col-md-12">
                <label class="form-label">Descrição do Conserto</label>
                <textarea class="form-control" id="inputDescriptionCar" rows="3" required></textarea>
            </div>

            <!-- Botões -->
            <div class="d-flex justify-content-center gap-1 mt-3">
                <button type="button" class="btn btn-success">Cadastrar</button>
                <button type="button" class="btn btn-primary">Buscar</button>
                <button type="button" class="btn btn-warning">Editar</button>
                <button type="button" class="btn btn-danger">Excluir</button>
            </div>
        </form>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                document.querySelector('.btn-success').addEventListener('click', () => {
                    const carro = {
                        plaCarro: document.getElementById('inputPlateCar').value,
                        marCarro: document.getElementById('inputMarkCar').value,
                        modCarro: document.getElementById('inputModelCar').value,
                        anoCarro: document.getElementById('inputYearCar').value,
                        coCarro: document.getElementById('inputColorCar').value,
                        desCarro: document.getElementById('inputDescriptionCar').value
                    };
                    api.newCarro(carro);
                    alert("Veículo cadastrado com sucesso!");
                });
            });
            </script>
            
    </div>
    
</body>
</html>